.header {
  
font-family: 'Press Start 2P', cursive;

}

.link {

margin-top: 10px;
font-size: 20px;
font: red;

}
.App-logo {
  text-align: left;
  height: 150px;
  width: 150px;
}

.link3 {
  justify-content: right;
  text-align: right;
  margin-left: 250px;
  margin-top: 15px;
  font: red
}



