.loginForm {
    background-color: darkgray;
    height: 50%;
    width: 25%;
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
}

.input {
    margin-left: 20px;
}

.button {
    margin-left: 0px;
}